@font-face{
	font-family: newfont;
	src:url('./font/October Crow.ttf');
}
body{
	background-image:url('back.png');
	background-size: stretch;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: newfont;
}

li{
	float: left;
	font-size: 40px;
	margin:0;
	padding:0;
	width: auto;
	background-color: #111111;
	color: #010101;
}
li a{
	display: block;
	padding: 30px 20px;
}
ul{
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111111;
	z-index: 2;
}
li a:hover {
	background-color: #555555;
	color: black;
}

li a:link, a:visited{
	color: white;
}
a{
	text-decoration: none;
}
.about{
 margin-left:auto; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
    background-color: #000000;
    width: 470px;
    height: auto;
    text-align: center;
    padding:0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#abt{
	color: #DDDDDD;
	font-size: 50px;
	z-index: 1;
}

div{
	padding-top:300px;
	margin-bottom:0;
	position:relative;
	width: 100%;
	border: 20px white;
	height: 100%;
}
#cont a{
	padding: 10px;
	margin-top: 30px;
	width: auto;
	height:auto;
	font-size: 100px;
	align-self: center;
	opacity: 0.5;
	text-decoration: none;
	color: white;
	background-color: #000;
	border-radius: 10px;
}
#cont a:hover{
	opacity: 1;	
	color: #333;
	background-color: #ccc;
}
#about{
	float: right;
	margin-right: 20px;
	background-color: #404;
	opacity: 0.5;
}
#secret{
	opacity: 0;
	font-size: 20px;
}
.page{
	font-family: times;
	color: white;
	text-align-last: center;
	opacity: 0.6;
}
#para{
	font-family: newfont;
	font-size: 40px;
}